:root {
    --background: #fdfbf7; 
    --accentGlow: #9d81a5; /* petal purple */
    --text: #0d1b0e; /* deep moss */
    --highlight: #a8d5ba; /* soft mint */
    --contrast: #4a5d4e; /* weathered leaf */
    --detail: #2e4033; /* dark ivy */
    --callToAct: #6b4f7d; /* royal purple */
    --hover: #e9ecef; /* silver-grey */
    --border: #b2babb; /*chainmail silver */
    --radius: 20px;
    --scrim: rgba(255, 255, 255, 0.6); 
}


.navbar-sanctuary {
    background-color: #2e004f !important;
}

.navbar-sanctuary .nav-link, 
.navbar-sanctuary .navbar-brand {
    color: #ffffff !important; 
}

.navbar-brand img {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3)); 
    margin-right: 10px; 
    transition: transform 0.3s ease;
}

.navbar-brand img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.5));
}

.montecarlo-regular {
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
}
#heroSection {
    background: url(../images/pexels-golimpio-3686317.jpg);
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 1em;
}
    #heroSection p {
        color: var(--detail);
}
    #heroSection h1 {
        color: var(--text);
}
#welcomeTitle {
    background: var(--scrim); 
}